@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #ffffff;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-claudiawhite: #ffffff;
    --color-claudiacream: #f5f5f5;
    --color-claudiapurple: #5a4bf6;
    --color-claudiagray: #616161;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ffffff;
        --foreground: #ffffff;
    }
}

body {
    background: var(--foreground);
    color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 768px) {
    .parent:hover .child {
        opacity: 1;
        height: auto;
        overflow: visible;
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
    }

    .child {
        opacity: 0;
        height: 0;
        overflow: hidden;
        transform: translateY(-10%);
        transition: all 0.3s ease-in-out;
    }
}

/* Whatsapp */
.floatBottomRight {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

/* Scroll to top */
.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(90, 75, 246, 0.2);
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    left: 20px;
    transition: opacity 0.3s ease, transform 0.3s ease, border-radius 0.3s ease, background-color 0.3s ease;
}

.button.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button:hover {
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(90, 75, 246);
    align-items: center;
}


@media (max-width: 768px) {
    /* Responsive Whatsapp icon */
    .floatBottomRight {
        bottom: 20px;
        right: 20px;
    }
    /* Responsive Footer */
    .footerText {
        font-size: 12px;
    }
    .footerIcons {
        width: 15px;
        height: 15px;
    }

}


@media (max-width: 1024px) {
    h1{
        font-size: 1.5rem;
    }
}

h1{
    color: black;
}
h1{
    color: black;
}
h1{
    color: black;
}
p{
    color: black;
}
/* button{
    color: black;
} */
li{
    color: black;
}
div{
    color: black;
}
main{
    color: black;
}
